@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Sticker>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<img class="portraitSub" src="@Model.ArtImage.Url()" alt="portrait">
<h2 class="artHeader"><i>@Model.Value("ArtTitle")</i></h2>